@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
header {
    z-index: 999;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: rgb(245, 224, 235);
    align-items: center;
    padding: 10px 200px;
}
.Logo {
    color:rgb(73, 3, 105);
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}
.navigation a {
    color:rgb(73, 3, 105);
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
    padding-left: 30px;
}
.navigation a:hover {
color: blue;
}
section {
    padding: 100px 200px;
}
.main {
width: 100%;
display:flex;
align-items: center;
min-height: 100vh;
background-image: url('../images/picture.jpg');
background-repeat: no-repeat;
background-size: cover;
background-position: center;
background-attachment: fixed;
}
.main h2 {
    font-size: 1.4em;
    font-weight: 500;
    color:rgb(62, 62, 62);
}
.main h2 span {
font-size: 3em;
font-weight: 700;
display: inline-block;
margin-top: 10px;
color:rgb(73, 3, 105);
}
.main h3 {
    font-size: 2em;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 30px;
    letter-spacing: 1px;
    color:rgb(62, 62, 62);
}
.main-button {
    border-radius: 40px ;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px ;
    transition: 0.7s ease;
    font-size: 1.1em;
    font-weight: 600;
    margin:0px 0px 40px 0px;
    color: rgb(245, 224, 235);
    background-color: rgb(73, 3, 105);
    padding: 0.9375em 2.1875em;
    display: inline-block;
}
.main-button:hover {
    transform: scale(1.1);
    background-color: rgb(55, 1, 80);
}
.social-icons a {
    font-size: 1.7em;
    padding-right: 30px;
}
.title {
    display: flex;
    justify-content: center;
    font-size: 2.2em;
    font-weight: 900;
    margin-bottom: 30px;
    color: rgb(55, 1, 80);
}
.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card {
    background-color: rgb(245, 224, 235);
    width: 21.25em;
    margin: 15px;
    box-shadow: 5px 5px 25px rgb(55, 1, 80 /15%);
    border-radius: 10px;
    transition: 0.7s ease;
    padding: 25px;
}

.card:hover {
    transform: scale(1.1);
}
.icon{
    color: rgb(55, 1, 80);
    text-align: center;
    font-size: 30px;
}
.info {
    text-align: center;
}
.info h2{
    margin: 10px;
}
.projects{
    background-color: rgb(245, 224, 235);
}
.projects .content{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 0 20px;
}
.project-card {
    background-color: rgb(55, 1, 80) ;
    width: 23em;
    min-height: 14em;
    overflow: hidden;
    border: 2px solid rgb(55, 1, 80);
    border-radius: 10px;
    margin: 10px;
    transition: 0.7s ease;
}
.project-card:hover {
    transform: scale(1.1);
}
.project-card:hover .project-image {
    opacity: 0.9;
 }
 .project-image img {
    width:100%;
}
.project-name {
    color:white;
    padding: 10px;
}
.project-details {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin: 10px;
    color: white;
}
.more-details {
    text-decoration:pink;
    color: white;
}
.more-details:hover {
    color: pink;
}
.footer {
    background-color: rgb(245, 224, 235);
    color: black;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.footer-title {
    font-size: 1.3em;
    font-weight: 600;
}

.footer-title span {
    color: rgb(55, 1, 80);
}

.footer .social-icons a{
    font-size: 1.3em;
    padding: 0 12px 0 0;
}

@media (max-width:1023px){
    header{
        padding: 12px 20px;
    }

    .navigation a{
        padding-left: 10px;
    }

    .title{
        font-size: 1.8em;
    }

    section{
        padding: 80px 20px;
    }

    .main-content h2{
        font-size: 1em;
    }

    .main-content h3{
        font-size: 1.6em;
    }

    .content{
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width:641px){
    body{
        font-size: 12px;
    }

    .main-content h2{
        font-size: 0.8em;
    }

    .main-content h3{
        font-size: 1.4em;
    }
}

@media (max-width:300px){
    body{
        font-size: 10px;
     
    }
}